 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>One</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>I am a passionate software developer with a knack for problem-solving and a love for clean,
        efficient code. I have experience in multiple programming languages and frameworks.</p>
    </div>
    <div class="tech">
      <h2>Two</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>I am a passionate software developer with a knack for problem-solving and a love for clean,
        efficient code. I have experience in multiple programming languages and frameworks.</p>
    </div>
    <div class="tech">
      <h2>Three</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>I am a passionate software developer with a knack for problem-solving and a love for clean,
        efficient code. I have experience in multiple programming languages and frameworks.</p>
    </div>
</div>
